$width-side-bar:27%;
$timeEffect:0.2s;

@mixin buttonLink{
    font-size: 1.1vw;
    padding: 0.5vw 2vw;
    border: 1px solid  #666666;
    color: #666666;
    transition: color, background-color $timeEffect;
}

@mixin buttonLinkHover{
    background-color: #cc0000;
    color: #ffffff;
}
