@import "const.scss";

div.content{
    margin-left: $width-side-bar;
    position:relative;

    h1{
        text-align: center;
        font-size: 6vw;
        color: #666666;
        margin: 2vw 0;
    }
    div.info{
        display: flex;
        width: 95%;
        margin: 3vw auto;
        border-bottom: 1px solid #666666;
        padding-bottom: 2vw;
        img{
            display: block;
            width: 30vw;
        }
        .description{
            padding-left: 3vw;
            h3{
                font-size: 2vw;
                color: #666666;
            }
            ul{
                margin: 2vw 0;
                li{
                    margin: 0.8vw 0;
                    font-size: 1.5vw;
                }
            }
            a.more{
                @include buttonLink;
            }
            a.more:hover{
                @include buttonLinkHover;
            }           
        }
    }
}