@import "const.scss";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font: 1.5vw sans-serif;
}
img{
    width: 100%;
}

div.side-bar{
    position: fixed;
    width: $width-side-bar;
    height: 100%;
    background-image: url(../img/backgraund-side-bar.jpg);
    background-size: cover;

    a.logo{
        display: block;
        width: 70%;
        margin: 0 auto;
        margin-top: 1vw;
    }

    ul.nav{
        position: absolute;
        bottom: 10vw;
        width: 100%;
        top:40%;
        text-align: center;
        margin-top:2vw;
        li{
            margin: 1vw 0;
            a{
                color: #ffffff;
                letter-spacing: 0.2vw;
                text-transform: uppercase;
                transition: color $timeEffect;
            }
            a:hover{
                color: #33ff33;
            }
        }
    }

    h3.tell{
        position: absolute;
        bottom: 10vw;
        width: 100%;
        text-align: center;
        color: #cc0000;
        padding: 1vw 0;
        background-color: #ffffff;
        margin-top: 2vw;
    }

    ul.social{
        position: absolute;
        bottom: 3vw;
        width: 100%;
        display: flex;
        justify-content: space-around;
        li{
            width: 17%;
            img{
                filter: grayscale(100%);
                transition: filter, transform $timeEffect;
            }
            img:hover{
                filter: grayscale(0%);
                transform: scale(1.2);
            }
        }
    }
    div.buttonMenu{
        display: none;
    }

}

@mixin slide-navigation{
    color: #666666;
    text-transform: uppercase;
    position: absolute;
    top:50%;
    cursor: pointer;
    transition: color $timeEffect;
}
div.slide-bar{
    position:relative;
    margin-left: $width-side-bar;
    span.next{
        @include slide-navigation;
        right: 2vw;
    }

    span.prev{
        @include slide-navigation;
        left: 2vw;
    }
    span.next:hover, span.prev:hover{
        color: #ffffff;
    }    
}

@media screen and (max-width:640px){
    div.side-bar{
        position: relative;
        width: 100%;
        a.logo{
            width: 20%;
            margin: 0;
            padding: 2vw;
        }

        div.buttonMenu{
            display: block;
            position: absolute;
            right: 10vw;
            top: 40%;
            width: 7vw;
            cursor: pointer;

            div{
                border-bottom: 0.5vw solid #ffffff;
                margin-bottom: 1.8vw;
            }
        }

        div.mobile-side-bar{
            display: none;
            position: fixed;
            z-index: 1;
            height: 100%;
            top:0;
            right: 0;
            width: 30%;
            background-color: #ffffff;
            ul.nav{
                li{
                    margin: 1.5vw 0;
                    a{
                        font-size: 3vw;
                        color: #666666;
                    }
                }
            }            
        }
    }
    div.slide-bar{
        margin-left: 0;
    }

}
