* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font: 1.5vw sans-serif; }

img {
  width: 100%; }

div.side-bar {
  position: fixed;
  width: 27%;
  height: 100%;
  background-image: url(../img/backgraund-side-bar.jpg);
  background-size: cover; }
  div.side-bar a.logo {
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-top: 1vw; }
  div.side-bar ul.nav {
    position: absolute;
    bottom: 10vw;
    width: 100%;
    top: 40%;
    text-align: center;
    margin-top: 2vw; }
    div.side-bar ul.nav li {
      margin: 1vw 0; }
      div.side-bar ul.nav li a {
        color: #ffffff;
        letter-spacing: 0.2vw;
        text-transform: uppercase;
        transition: color 0.2s; }
      div.side-bar ul.nav li a:hover {
        color: #33ff33; }
  div.side-bar h3.tell {
    position: absolute;
    bottom: 10vw;
    width: 100%;
    text-align: center;
    color: #cc0000;
    padding: 1vw 0;
    background-color: #ffffff;
    margin-top: 2vw; }
  div.side-bar ul.social {
    position: absolute;
    bottom: 3vw;
    width: 100%;
    display: flex;
    justify-content: space-around; }
    div.side-bar ul.social li {
      width: 17%; }
      div.side-bar ul.social li img {
        filter: grayscale(100%);
        transition: filter, transform 0.2s; }
      div.side-bar ul.social li img:hover {
        filter: grayscale(0%);
        transform: scale(1.2); }
  div.side-bar div.buttonMenu {
    display: none; }

div.slide-bar {
  position: relative;
  margin-left: 27%; }
  div.slide-bar span.next {
    color: #666666;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transition: color 0.2s;
    right: 2vw; }
  div.slide-bar span.prev {
    color: #666666;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transition: color 0.2s;
    left: 2vw; }
  div.slide-bar span.next:hover, div.slide-bar span.prev:hover {
    color: #ffffff; }

@media screen and (max-width: 640px) {
  div.side-bar {
    position: relative;
    width: 100%; }
    div.side-bar a.logo {
      width: 20%;
      margin: 0;
      padding: 2vw; }
    div.side-bar div.buttonMenu {
      display: block;
      position: absolute;
      right: 10vw;
      top: 40%;
      width: 7vw;
      cursor: pointer; }
      div.side-bar div.buttonMenu div {
        border-bottom: 0.5vw solid #ffffff;
        margin-bottom: 1.8vw; }
    div.side-bar div.mobile-side-bar {
      display: none;
      position: fixed;
      z-index: 1;
      height: 100%;
      top: 0;
      right: 0;
      width: 30%;
      background-color: #ffffff; }
      div.side-bar div.mobile-side-bar ul.nav li {
        margin: 1.5vw 0; }
        div.side-bar div.mobile-side-bar ul.nav li a {
          font-size: 3vw;
          color: #666666; }
        div.side-bar div.mobile-side-bar ul.nav li a:hover {
          color: #33ff33; }
      div.side-bar div.mobile-side-bar h3.tell {
        font-size: 3vw; }

  div.slide-bar {
    margin-left: 0; } }

/*# sourceMappingURL=main.css.map */
